<!-- username -->
<input type="text" name="username" class="<%= error.classUsername[0] %>" placeholder="Username" required>

<!-- email -->
<input type="email" name="email" class="<%= error.classEmail[0] %>" placeholder="Email">

<!-- password -->
<input type="password" name="password" class="<%= error.classPassword[0] %>" placeholder="Password" id="password1" required>
<img src="../../img/view.png" alt="visible" class="w-5 absolute bottom-[69px] right-5 cursor-pointer hover:scale-110 transition sm:bottom-[74px] md:bottom-[82px]" id="viewPass1">

<!-- confirm password -->
<input type="password" name="passwordConfirm" class="<%= error.classPassword[0] %>" placeholder="Confirm Password" id="password2" required>
<img src="../../img/view.png" alt="visible" class="w-5 absolute bottom-[26px] right-5 cursor-pointer hover:scale-110 transition sm:bottom-[30px] md:bottom-[38px]" id="viewPass2">

<!-- error message -->
<p class="absolute text-red-500 text-[10px] left-3.5 bottom-1.5 sm:text-[11px] md:text-xs md:bottom-3"><%= error.msg[0] %></p>