<% data.products.forEach(product => { %>
    
    <%product.price = (product.price * 1000).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });%>

    <a href="/products/<%= product.id %>" class="card-product">
        <img src="<%= product.images[0] %>" alt="product" class="w-full max-h-[150px] md:max-h-[200px] lg:max-h-[250px] object-cover">
        <div class="px-2 flex flex-col justify-start h-full pb-2">
            <h1 class="font-black uppercase text-xs md:text-base"><%= product.title %></h1>

            <% if (product.description.length > 130) { %>
                <p class="text-[10px] md:text-sm"><%= product.description.substring(0, 130) %> <span class="text-[10px] md:text-sm font-bold">...read more</span></p>
            <% } else { %>
                <p class="text-[10px] md:text-sm"><%= product.description %></p>
            <% } %>

            <div class="mt-2 flex items-end h-full">
                <div class="flex justify-between items-center w-full">
                    <p class="font-bold text-[11px] md:text-[15px]"><%= product.price %></p>
                    
                    <div class="flex justify-end gap-2">
                        <form action="#" id="love">
                            <input type="hidden" value="id_product">
                            <button type="submit" class="btn-card"><img src="../img/dashboard/emptyLove.png" alt="love"></button>
                        </form>
                        <form action="#" id="bag">
                            <input type="hidden" value="id_product">
                            <button type="submit" class="btn-card"><img src="../img/dashboard/addBag.png" alt="addBag"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </a>

<% }) %>
