<% data.products.forEach(product => { %>
    
    <%const price = (product.price * 1000).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });%>

    <a href="/products/<%= product.id %>" class="card-product">
        <img src="<%= product.images[0] %>" alt="product" class="w-full max-h-[150px] md:max-h-[200px] lg:max-h-[250px] object-cover">
        <div class="px-2 flex flex-col justify-start h-full pb-2">
            <h1 class="font-black uppercase text-xs md:text-base"><%= product.title %></h1>

            <% if (product.description.length > 130) { %>
                <p class="text-[10px] md:text-sm"><%= product.description.substring(0, 130) %> <span class="text-[10px] md:text-sm font-bold">...read more</span></p>
            <% } else { %>
                <p class="text-[10px] md:text-sm"><%= product.description %></p>
            <% } %>

            <% 
            const discounts = Math.ceil(product.discountPercentage);
            const discountsPrice = Math.ceil(product.price) + (Math.ceil(product.price) * (discounts / 100));
            const priceBefore = (discountsPrice * 1000).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });
            %>

            <div class="mt-3 flex flex-col justify-end h-full">
                <div class="flex items-center gap-1">
                    <p class=" text-[9px] md:text-[12px] font-light line-through italic text-red-500"><%= priceBefore %></p>
                    <p class="font-bold text-[9px] md:text-[12px] italic text-red-500"><%= discounts %>% Off</p>
                </div>
                <p class="font-bold text-[11px] md:text-[15px] text-primary-7"><%= price %></p>
            </div>
        </div>
    </a>
<% }) %>