<!-- generate error class -->
<%- include('../layouts/errorClass.ejs') %>

<div class="min-h-screen px-12 py-5 flex items-center">
    <div class="forgot-box">
        <a href="/auth/forgot?role=<%= role %>" class="peer">
            <img src="../../img/back.png" alt="" class="w-3 hover:scale-110 duration-300 transition absolute left-3 top-3 sm:w-4 md:w-5 sm:left-4 md:left-5 sm:top-4 md:top-5">
        </a>
        <p class="text-[7px] text-white bg-black px-1 py-0.5 absolute left-2 top-9 sm:text-[8px] md:text-[9px] sm:left-3 sm:top-11 md:left-4 md:top-[52px] scale-0 transition-all ease-in-out duration-300 peer-hover:scale-100">back</p>

        <div>
            <h1 class="uppercase text-center my-3 text-sm font-bold sm:text-base md:text-xl">Change Password</h1>
            <p class="capitalize text-[11px] font-light text-center max-w-56 block mx-auto mb-4 text-pretty sm:text-xs md:text-base">fill in your new password, we will process your request</p>
        </div>

        <form action="/auth/forgot/changePassword?email=<%= data.email %>&role=<%= role %>" method="post" class="w-full relative">
                <input type="hidden" name="id" value="<%= data.id %>">
                <input type="hidden" name="oldPassword" value="<%= data.password %>">
                <% if (error.length > 0) { %>
                    <input type="password" name="newPassword" class="input-form-forgot-error mb-4" placeholder="New Password" required>

                    <input type="password" name="confirmPassword" class="input-form-forgot-error mb-4" placeholder="Confirm New Password" required>    
                    <!-- error message -->
                    <p class="text-red-500 text-[10px] md:text-xs absolute bottom-12 left-1 sm:bottom-14 md:bottom-16"><%= error %></p>
                <% } else { %>
                    <input type="password" name="newPassword" class="input-form-forgot mb-4" placeholder="New Password" required>

                    <input type="password" name="confirmPassword" class="input-form-forgot mb-4" placeholder="Confirm New Password" required>
                <% } %>

        
            <button type="submit" class="btn-primary translate-y-1">Change Password</button>
        </form>
    </div>
</div>