<!-- login start -->
<section class="min-h-screen px-12 py-5 flex items-center relative">
    <div class="auth-box">
        
        <%- include("../layouts/headerAuth.ejs") %>

        <div class="w-full md:w-1/2 order-2">
            <form action="/auth/login?role=<%= role %>" method="post">
                <div class="border border-primary-5/60 rounded-lg overflow-hidden mb-5">
                    <div class="flex text-center text-xs overflow-hidden bg-slate-50 sm:text-base md:text-lg" id="form">
                        <a href="/auth/login?role=customers" class="option-input">As Customer</a>
                        <a href="/auth/login?role=sellers" class="option-input">As Seller</a>
                    </div>
                    <div class="relative py-3 px-3 md:py-5">

                        <% if (error.msg.length > 0) { %>
                            <%- include("../layouts/inputLoginError.ejs") %>
                        <% } else { %>
                            <%- include("../layouts/inputLogin.ejs") %>
                        <% } %>
                        <% if (msgSuccess.length > 0) { %>
                            <p class="absolute text-primary-4 text-[10px] left-4 bottom-2.5 sm:text-[11px] md:text-xs md:bottom-4"><%= msgSuccess[0] %></p
                        <% } %>
                    </div>
                </div>

                <button type="submit" class="btn-primary">Login</button>
                <p class="text-center text-xs sm:text-sm md:text-base">Don't have an account? <a href="/auth/register?role=customers"
                        class="block underline text-primary-5 hover:text-primary-7 md:inline">Sign up</a></p>
            </form>
        </div>
    </div>
</section>
<!-- login end -->
<script>
    // optionform
    const [customer, seller] = Array.from(document.getElementById("form").children);
    if (window.location.search === "?role=customers") customer.classList.add("form-active");
    if (window.location.search === "?role=sellers") seller.classList.add("form-active");


    // visible password
    const viewPass = document.getElementById("viewPass");
    viewPass.addEventListener("click", () => {
        const inputPass = document.getElementById("password");
        if (viewPass.classList.contains("viewPassword")) {
            viewPass.src = "../img/view.png";
            inputPass.type = "password";
            viewPass.classList.remove("viewPassword");
        } else {
            viewPass.src = "../img/unview.png";
            inputPass.type = "text";
            viewPass.classList.add("viewPassword");
        }
    });

    const form = document.querySelector("form");
    form.addEventListener("submit", (e) => {
        const timeStamp = Date.now().toString();
        localStorage.setItem("login", timeStamp);
    });

    // local store
    // if (localStorage.getItem("token")) window.location.href = "/";
</script>